*{
    margin:0;
    padding:0;

}
@font-face {
    font-family:web-font;
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

.clearfix::after{
    content:" ";
    display:block;
    clear:both;
}


.body{
    font-family:web-font;

}
/*this is part of header-section*/
.header-section{
    width:100%;
    background-image:url("../image/dd.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    border-top:3px solid #5385C1;
    padding-bottom:150px;

}
/*this is part of navigation section*/
.navigation{
    width:900px;
    margin:0 auto;
    color:white;
    padding-top:50px;
    
}
.navigation p{
    float:left;

}
.navigation ul{
    float:right;



}
.navigation ul li{
    list-style-type:none;
    display:inline-block;
    margin-left:20px;

}
.navigation ul li a{
    text-decoration:none;
    color:white;

}
/*this is part of header-text section*/
.header-text{
    width:500px;
    margin:0 auto;
    margin-top:120px;
    color:white;
}
.header-text h1{
    font-size:45px;
    font-weight:100;
    text-align:center;

}
.header-text p{
    font-size:13px;
    font-weight:100;
    text-align: center;
}
/*this is part of after header section*/
.content-1{
    width:900px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;



}
.left-right-box1{
    width:250px;
    float:left;
    margin-right:28px;
}
.middle{
    border-left:1px solid cyan;
    border-right:1px solid cyan;
    padding-left:10px;
    padding-right:10px;
}
.left-right-box1 h3{
    color:#89bae6;
    line-height:26px;
    font-weight:100;

}
.left-right-box1 p{
    font-size:12px;
    color:#9a9d9e;
    line-height:22px;
    font-weight:200;


}
.link{
    text-decoration:none;
    background-color:#6a91d8;
    color:white;
    padding: 5px;
}
/*this is part of profile-section*/
.content-two{
    width:100%;
    background-color: #5485c1;
    padding-bottom:50px;
    padding-top:50px;
    color:whitesmoke;
}

.head{
    text-align:center;
    margin-bottom:20px;
    font-size:30px;
    font-weight:100;
}
.para{
    text-align:center;
    margin-bottom:20px;
    font-size:12px;
    font-weight:100;

}
.whole-box{
    width:900px;
    margin:0 auto;


}
.img{
    width:100px;

}

.box{
    width:200px;
    float:left;
    margin-left:23px;
    padding-bottom:50px;
    border:1px solid whitesmoke;
    border-radius:2px;
}
.box img{
    width:100px;
    border-radius:50%;
    margin-left:45px;
    margin-top:30px;
}       
.box h3{
    text-align:center;
    font-weight:100;


}
.box p{
    text-align:center;
    font-weight:100;
    font-size:12px;
}
/*this is part natural-image section*/
.content-3{
    width:100%;
    height:400px;
    margin-top:50px;
}
.width-box{
    width:900px;
    margin:0 auto;
}
.width-box .head{
    text-align:center;
    font-size:40px;
    font-weight:100;
    color:#BCDAE5;
    margin-bottom:0;
}
.width-box .para{
    text-align:center;
   color:#81cbdd;
}

.left-right-box{
    width:400px;
    float:left;
    margin-left:40px;

}
.left-right-box img{
    width:410px;
 

}
.left-right-box h3{
    font-weight: 100p;
    color:#86a1f7;
    line-height:26px;
    padding-top:25px;
    padding-bottom:15px;

}
.left-right-box p{
    font-weight: 100;
    color:#81aab4;
    line-height:26px;
    font-size:12px;


}
.blink{
    text-decoration:none;
    background-color:#6a91d8;
    color:white;
    padding: 5px;
}
/*this is footer-section*/
.footer{
    width:900px;
    margin:0 auto;
    clear:both; 
    margin-top:20px;
    padding-bottom:50px;

}
.footer p{
    font-size:15px;
    color:#e0e0e0;
}
/*this is part of icon*/
.icon-section{
    width:200px;
    float:right;
    padding-top:30px;
    padding-bottom:30px;


}
.fa{
    font-size:26px;
    margin-left:10px;
    color:#5385C1;
}